NODE_ENV=development
PORT=4300
CORS_ORIGINS=http://localhost:3000,http://localhost:8082
SUPABASE_URL=https://tozdwdahanbpkjrdevgk.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Wm9lq7US2TS7qRVZ6lBYSA_CrAWeaBi
SUPABASE_SECRET_KEY=your-supabase-secret-key
SUPABASE_JWKS_URL=https://tozdwdahanbpkjrdevgk.supabase.co/auth/v1/.well-known/jwks.json
